:root {
    --primary: #283163;
    --secondary:#BDB4A6;
    --tertiary:#2F5C7C;
    --grey:#B7BDC1;
    --black:#0C0228;
    --white:#ffffff;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

@import '_typography';

// Accessability
:is(a, button, input, textarea, summary):focus {
    box-shadow: 0 0 0 2px rgb(0, 127, 212);
    outline: 0;
}
