body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: url(../assets/images/pencils.webp);
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    & > div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        position: relative;


        &::before {
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            top: 0;
            left: 0;
            backdrop-filter: brightness(0.7);
        }

        &>* {
            z-index: 1;
        }

        @media (min-width:1024px) {
            padding: 1rem;
            gap: 434px;
        }

        @media(mi){}
    }
}

.primary-nav {
    display: grid;
    margin: 16px 16px 0 16px;
    grid-template-areas: "social social""logo menu";
    align-items: center;

    ul {
        list-style: none;
    }

    .social-media {
        grid-area: social;
    }

    .logo {
        grid-area: logo;
    }

    .menu {
        grid-area: menu;
    }

    @media (min-width:1024px) {
        grid-template-areas: "logo social""menu menu";
        row-gap: 19px;
        margin:0 232px;
    }
}

main {
    margin-top: 17px;
}

section {
    display: grid;
}

#welcome {
    grid-template-areas: "img" "content";
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: center;
    
    img {
        grid-area: img;
        max-height: 397px;
        height:100%;

        @media (min-width:1600px) {
            max-width: 550px;
        }
    }

    .content {
        grid-area: content;
        height:100%;
        display: flex;
        flex-direction: column;
        margin: 0 15px;

        @media (min-width:1600px) {
            justify-content: center;
            margin: 0 30px;
        }

    }

    @media (min-width:1024px) {
        grid-template-areas: "img content";
        padding:77px 0;
        margin:0 232px;

        &>*{
            padding:1rem;
        }
    }

    @media (min-width:1600px) {
        &>*{
            padding:0;
        }
    }

    // Media query for screens bigger than prompt ( 
    @media (min-width:1800px) {
        grid-template-columns: 1fr 2fr;

        .content p {
            max-width: 1000px;
        }
    }
}


#news {
    justify-items: center;
    @media (min-width:1024px) {
        padding:0 232px;
    }
}

footer {
    background-color: #2E4D63;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    @media (min-width:1024px) {
        padding:0 232px;
        display: grid;
        align-items: center;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: 
        "logo logo logo"
        "address contact quick-links"
        "copyright copyright copyright"
        "sitemap sitemap note";
        gap:0;
        
        .logo {
            grid-area: logo;
        }

        .address {
            grid-area: address;
            padding:31px 0;
        }

        .contact {
            grid-area: contact;
        }

        .quick-links {
            grid-area: quick-links;
            gap: 16px;
        }

        .copyright {
            grid-area: copyright;
        }

        .site-information {
            grid-area: sitemap;
        }

        .footer-note {
            grid-area: note;
        }
    }
}