.logo {
    display: flex;
    align-items: center;

    span {
        margin-left: 13px;
        font-family: 'merriweather', 'sans-serif';
        font-weight: 300;
        color: var(--white);

        p {
            font-size: 28px;

            &:nth-child(2) {
                font-size: 14px;
            }
        }
    }

    @media (min-width:1024px) {
        &>img {
            height: 72px;
            width: 72px;
        }
    }
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    padding-bottom: 18px;

    .icons {
        display: flex;
        gap: 9px;

        .icon {
            color: var(--white);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
        }

        .button {
            height: 32px;
            width: 32px;
        }

        .button > span {
            display: none;
        }

        @media (min-width:1024px) {

            .button {
                width: 136px;
            }
            .button > span {
                display: block;
            }
        }
    }

    @media (min-width:1024px) {
        justify-content: flex-end;
        padding: 0;
    }
}

.menu {
    width: fit-content;
    justify-self: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;

    .toggle {
        display: block;

        @media (min-width:1024px) {
            display: none;
        }

        i {
            font-size: 43px;
            color: var(--white);
        }
    }

    .links-container {
        width: inherit;
        display: none;

        .links {
            display: none;

            a {
                font-family: 'Montserrat', 'sans-serif';
                font-weight: 400;
                font-size: 16px;
                color: var(--white);
            }

            .active {
                color: #FFFFFF78;
            }

            @media (min-width:1024px) {
                display: flex;
                gap: 1rem;
                width: inherit;
                justify-content: space-between;
            }
        }

        @media (min-width:1024px) {
            display: block;
        }
    }
}

.button {
    background-color: var(--tertiary);
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    border-radius: 16px;
    font-size: 12px;
    font-weight: 400;
    width: 95px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f {
    background-color: #2E3C7E;
}

.fa-twitter {
    background-color: #3BA6E5;
}

.fa-magnifying-glass {
    background-color: var(--tertiary);
}