.logo {
    display: flex;
    align-items: center;

    span {
        margin-left: 13px;
        font-family: var(--merriweather);
        font-weight: 300;
        color: var(--white);

        p {
            font-size: 28px;

            &:nth-child(2) {
                font-size: 14px;
            }

            @media (min-width:1024px) {
                font-size: 34px;

                &:nth-child(2) {
                    font-size: 16px;
                }
            }
        }
    }

    @media (min-width:1024px) {
        &>img {
            height: 72px;
            width: 74px;
        }
    }
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    padding-bottom: 18px;

    .button {
        width: 95px;
    }

    .icons {
        display: flex;
        gap: 9px;

        a {
            display: flex;
        }

        .icon {
            color: var(--white);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            font-size: 12px;
        }

        .button {
            height: 32px;
            width: 32px;
        }

        .button>span {
            display: none;
        }

        @media (min-width:1024px) {

            .button {
                width: 136px;
            }

            .button>span {
                display: block;
            }
        }
    }

    @media (min-width:1024px) {
        justify-content: flex-end;
        padding: 0;
    }
}

.menu {
    width: fit-content;
    justify-self: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;

    .toggle {
        display: block;

        @media (min-width:1024px) {
            display: none;
        }

        i {
            font-size: 43px;
            color: var(--white);
        }
    }

    .links-container {
        width: inherit;
        display: none;

        .links {
            display: none;

            a {
                font-weight: 400;
                font-size: 16px;
                color: var(--white);

                &:hover,
                &:focus {
                    color: var(--grey);
                }
            }

            .active {
                color: #FFFFFF78;
            }

            @media (min-width:1024px) {
                display: flex;
                gap: 1rem;
                width: inherit;
                justify-content: space-between;
            }
        }

        @media (min-width:1024px) {
            display: block;
        }
    }
}

.button {
    background-color: var(--tertiary);
    color: white;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover,
.button:focus {
    background-color: #b8c6cf;
    color: var(--tertiary);
}

.fa-facebook-f {
    background-color: #2E3C7E;
}

.fa-twitter {
    background-color: #3BA6E5;
}

.fa-magnifying-glass {
    background-color: var(--tertiary);
}


.fb:hover>i,
.fb:focus>i {
    background-color: #1f2958;
}

.twt:hover>i,
.twt:focus>i {
    background-color: #3086b8;
}

.mag:hover>i.icon,
.mag:focus>i.icon {
    background-color: #b8c6cf;
    color: var(--tertiary);
}

.titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 0 23px;
    margin-bottom: 65px;

    p {
        font-size: 14px;

        font-weight: 400;

        @media (min-width:1024px) {
            font-size: 18px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;

        @media (min-width:1024px) {
            font-size: 45px;
        }
    }

    .arrow {
        background-color: var(--tertiary);
        color: var(--white);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-top: 20px;

        i {
            font-size: 20px;
        }
    }
}

section {

    img {
        width: 100%;
    }

    .content {
        margin: 0 15px;
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--grey);
            font-weight: 300;
            font-size: 19px;
            margin-top: 33px;
            margin-bottom: 9px;
            font-family: var(--montserrat);
        }

        h1 {
            font-weight: 700;
            font-size: 33px;
            color: var(--tertiary);
            margin-bottom: 20px;
        }

        p {
            line-height: 32px;
            font-size: 17px;
        }

        .author {
            margin-top: 10px;
            font-size: 18px;
        }

        .button {
            font-size: 14px;
            width: 214px;
            height: 46px;
            border-radius: 40px;
            align-self: center;
            margin: 30px 0;
        }
    }
}

#news {
    background-color: var(--tertiary);
    justify-items: center;

    h2 {
        color: var(--white);
        font-size: 38px;
        font-weight: 700;
        margin: 35px 0;
    }

    .swiper {
        width: 300px;

        .swiper-wrapper {
            height: unset;
        }

        .swiper-slide {
            background-color: var(--white);
            position: relative;

            .img-inner {
                position: absolute;
                color: var(--white);
                z-index: 1;
                top: 160px;
                left: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                font-weight: 600;

                i {
                    color: #B7BDC1;
                }
            }

            img {
                height: 200px;
                object-fit: cover;
                position: relative;
            }

            a {
                display: flex;
                flex-direction: column;
            }

            a:hover>h3,
            a:focus>h3,
            a:hover>h4,
            a:focus>h4 {
                color: var(--grey);
                transition: 300ms;
            }

            h4 {
                color: #ACA7B2;
                font-size: 12px;
                font-weight: 600;
                font-family: var(--montserrat);
                padding: 7px 15px 0px 15px;
            }

            h3 {
                font-weight: 700;
                font-size: 16px;
                color: var(--black);
                padding: 7px 15px 15px 15px;
            }
        }

        .swiper-nav {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 23px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            // Reset default swiper arrow
            position: unset;
            margin-top: 0;
            color: var(--tertiary);
            background-color: var(--white);
            border-radius: 100%;
            height: 46px;
            width: 46px;

            &::after {
                // Reset default swiper arrow ::after
                content: '';
            }
        }
    }

    .button {
        background-color: var(--white);
        color: var(--tertiary);
        width: 214px;
        height: 46px;
        font-size: 14px;
        border-radius: 30px;
        margin: 46px;
    }
}

footer {
    .logo {
        border-bottom: 1px solid #ffffff21;
        padding-top: 48px;
        padding-bottom: 34px;

        span {
            font-family: var(--merriweather);
            font-weight: 300;
            color: var(--white);

            p {
                font-size: 21px;

                &:nth-child(2) {
                    font-size: 14px;
                }

                @media (min-width:1024px) {
                    font-size: 34px;

                    &:nth-child(2) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    ul {
        list-style: none;
        color:var(--white);
        font-family: var(--montserrat);
        font-weight: 400;
        font-size: 15px;
        margin-top:24px;
        margin-bottom: 15px;
        li {
            padding:5px;
        }
        strong {
            font-weight: 600;
        }
    }
}